# Concatenate feature files

In [1]:
import numpy as np
import pandas as pd
from pyhere import here
import glob
import os

In [2]:
def get_merged_files(flist, **kwargs):
    return pd.concat([pd.read_feather(f, **kwargs) for f in flist], axis=0)

## Monthly files to yearly

In [3]:
# # satellite = "landsat-8-c2-l2"
# # satellite = "sentinel-2-l2a"
# satellite = "landsat-c2-l2"

# country_code = 'ZMB' # 'TZA' # 'NGA'

# # points = 15
# points = 20

# num_features = 1024

# # bands_short = "2-3-4"
# # bands_short = "2-3-4-8"
# # bands_short = "1-2-3-4-5-6-7"
# bands_short = "r-g-b-nir-swir16-swir22"
# # bands_short = "2-3-4-5-6-7-8-11-12"

# year = 2014

# file_name = (f'{satellite}_bands-{bands_short}_{country_code}_{points}'+
#              f'k-points_{num_features}-features_{year}')
# file_name

In [4]:
# path = str(here('data', 'random_features', 'partial_features', f'{file_name}_*.feather'))
# files = glob.glob(pathname=path)
# df = get_merged_files(files)
# df = df.sort_values(by = ['month']).reset_index()
# df

In [5]:
# import seaborn as sns
# sns.heatmap(df.iloc[:,:-4])

In [6]:
# year_file = str(here('data', 'random_features', satellite, f'{file_name}.feather'))
# df.to_feather(year_file)

## Yearly files to full

In [7]:
# satellite = "landsat-8-c2-l2"
# satellite = "sentinel-2-l2a"
satellite = "landsat-c2-l2"

country_code = 'ZMB' # 'TZA' # 'NGA'

# points = 15
points = 20

num_features = 1024

# bands_short = "2-3-4"
# bands_short = "2-3-4-8"
# bands_short = "1-2-3-4-5-6-7"
bands_short = "r-g-b-nir-swir16-swir22"
# bands_short = "2-3-4-5-6-7-8-11-12"

files = (f'{satellite}_bands-{bands_short}_{country_code}_{points}'+
             f'k-points_{num_features}-features_*')
files

'landsat-c2-l2_bands-r-g-b-nir-swir16-swir22_ZMB_20k-points_1024-features_*'

In [8]:
path = str(here('data', 'random_features', satellite))+'\\*.feather'
files = glob.glob(pathname=path)
df = get_merged_files(files)

In [12]:
df = df.sort_values(by = ['year']).reset_index()

MemoryError: Unable to allocate 17.0 GiB for an array with shape (1028, 2216809) and data type float64

In [8]:
df = df.sort_values(by = ['month']).reset_index()
df

,0,1,2,3,4,5,6,7,8,9,...,1020,1021,1022,1023,lon,lat,year,month,level_0,index
0,0.442860,0.000000,0.089895,3.363738,0.000000,1.685055,5.395831,0.000000,0.0,0.000000,...,0.000000,1.468006,4.457739,0.000000,22.144878,-16.384232,2008,10,NaN,NaN
1,0.002744,0.000000,0.000097,0.111959,0.000443,0.005558,0.539194,0.000000,0.0,0.000000,...,0.071209,1.102861,1.829382,0.353255,22.124878,-16.384232,2008,10,NaN,NaN
2,0.452845,0.000000,0.163848,3.274206,0.000000,1.650905,5.638133,0.000000,0.0,0.000000,...,0.000000,1.385134,4.584863,0.000000,22.134878,-16.384232,2008,10,NaN,NaN
3,0.000008,0.000000,0.004044,0.217342,0.000000,0.003674,0.988060,0.000000,0.0,0.000000,...,0.000151,1.120443,2.079663,0.153255,22.134878,-16.394232,2008,10,NaN,NaN
4,0.018467,0.000242,0.002535,0.535540,0.001643,0.048299,1.314301,0.000000,0.0,0.000000,...,0.000497,1.056919,2.251067,0.062361,22.104878,-16.324232,2008,10,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188154,0.210573,0.000000,0.084464,3.095834,0.000000,1.585276,5.248778,0.000000,0.0,0.000000,...,0.000000,1.520998,4.340216,0.000000,27.844878,-16.784232,2021,12,NaN,NaN
188155,0.324603,0.000000,0.095184,3.185496,0.000000,1.652028,5.330277,0.000000,0.0,0.000000,...,0.000000,1.428862,4.383515,0.000000,27.854878,-16.784232,2021,12,NaN,NaN
188156,0.633870,0.016938,0.104171,3.081136,0.000000,1.618830,4.660454,0.005108,0.0,0.006480,...,0.003629,0.842736,4.073915,0.045046,27.864878,-16.784232,2021,12,NaN,NaN
188157,0.704258,0.007378,0.122458,3.533937,0.000000,1.862260,5.338318,0.003826,0.0,0.003131,...,0.004982,0.963174,4.422058,0.024029,27.864878,-16.794232,2021,12,NaN,NaN
188158,0.662716,0.041778,0.104128,3.233395,0.000000,1.612599,4.841438,0.013054,0.0,0.000000,...,0.033352,0.830104,4.164271,0.117325,27.824878,-16.824232,2021,12,NaN,NaN

In [9]:
yr_start = min(df.year)
yr_end = max(df.year)

In [10]:
# file_name = (f'{satellite}_bands-{bands_short}_{country_code}_{points}k-points_{num_features}-features_yr-{yr_start}-{yr_end}_mn-{min(df.month)}-{max(df.month)}')
# file_name

In [11]:
# final_file = str(here('data', 'random_features', 'full_files', f'{file_name}.feather'))
# df.to_feather(final_file)